<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">
<script src="../../static/utlis/jQuery_bDialog/js/jquery-ui.min.js"></script>
<body>
<div th:fragment="footerutiljs">
        <!-- dialog弹窗工具 -->
        <script src="/utlis/jQuery_bDialog/js/jquery-ui.min.js"></script>
        <script src="/utlis/jQuery_bDialog/js/jquery-1.11.0.min.js"></script>
        <script src="/utlis/jQuery_bDialog/js/b.dialog.min.js"></script>
        <script src="/utlis/jQuery_bDialog/js/b.dialog.js"></script>
        <!-- dialog弹窗工具 -->

        <!-- selectmenu工具 -->
        <script src="/utlis/SelectMenu/selectmenu.min.js"></script>
        <script src="/utlis/SelectMenu/selectmenu.js"></script>
        <!-- selectmenu工具 -->

        <!-- selectPage工具 -->
        <script src="/utlis/selectpage/selectpage.min.js"></script>
        <script src="/utlis/selectpage/selectpage.js"></script>
        <!-- selectPage工具 -->
</div>
</body>
</html>