<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footerjs">
        <!-- Placed js at the end of the document so the pages load faster -->
        <script src="/systheme/js/jquery.min.js"></script>
        <script src="/systheme/js/jquery-migrate.js"></script>
        <script src="/systheme/js/bootstrap.min.js"></script>
        <script src="/systheme/js/modernizr.min.js"></script>

        <!--Nice Scroll-->
        <script src="/systheme/js/jquery.nicescroll.js" type="text/javascript"></script>

        <!--right slidebar-->
        <script src="/systheme/js/slidebars.min.js"></script>

        <!--switchery-->
        <script src="/systheme/js/switchery/switchery.min.js"></script>
        <script src="/systheme/js/switchery/switchery-init.js"></script>


        <!--Icheck-->
        <script src="/systheme/js/icheck/skins/icheck.min.js"></script>
        <!--icheck init-->
        <script src="/systheme/js/icheck-init.js"></script>

        <!--Sparkline Chart-->
        <script src="/systheme/js/sparkline/jquery.sparkline.js"></script>
        <script src="/systheme/js/sparkline/sparkline-init.js"></script>

        <!--Data Table-->
        <script src="/systheme/js/data-table/js/jquery.dataTables.min.js"></script>
        <script src="/systheme/js/data-table/js/dataTables.tableTools.min.js"></script>
        <script src="/systheme/js/data-table/js/bootstrap-dataTable.js"></script>
        <script src="/systheme/js/data-table/js/dataTables.colVis.min.js"></script>
        <script src="/systheme/js/data-table/js/dataTables.responsive.min.js"></script>
        <script src="/systheme/js/data-table/js/dataTables.scroller.min.js"></script>

        <!--data table init-->
   <!--    <script src="/systheme/js/data-table-init.js"></script>-->
        <script src="/assets/js/data-table-init-encapsulation.js"></script>

        <!--bootstrap-fileinput-master-->
        <script type="text/javascript" src="/systheme/js/bootstrap-fileinput-master/js/fileinput.js"></script>
        <script type="text/javascript" src="/systheme/js/file-input-init.js"></script>

        <!--common scripts for all pages-->
        <script src="/systheme/js/scripts.js"></script>

        <!-- dialog弹窗工具 -->
<!--        <script src="/utlis/jQuery_bDialog/js/jquery-ui.min.js"></script>-->

<!--        <script src="/utlis/jQuery_bDialog/js/b.dialog.min.js"></script>-->
<!--        <script src="/utlis/jQuery_bDialog/js/b.dialog.js"></script>-->
        <!-- dialog弹窗工具 -->

        <!-- selectmenu工具 -->
<!--        <script src="/utlis/SelectMenu/selectmenu.min.js"></script>
        <script src="/utlis/SelectMenu/selectmenu.js"></script>-->
        <!-- selectmenu工具 -->

        <!-- selectPage工具 -->
        <script src="/utlis/selectpage/selectpage.min.js"></script>
        <script src="/utlis/selectpage/selectpage.js"></script>
        <!-- selectPage工具 -->
        <script>
            $(document).ready(function(e){

            });
            function meizz(ee) {
                console.log(ee)
                var att=document.querySelector(".menu-list").getElementsByTagName("a");
                var urls="http://"+att.item(0).host+"/"
                console.log(att.item(0))
                urls=urls+ee.name;
                console.log(urls)
                ee.setAttribute("href",urls);
            }
        </script>
</div>
</body>
</html>