<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="headerinclude">
        <!--right slidebar-->
        <link href="/systheme/css/slidebars.css" rel="stylesheet">

        <!--switchery-->
        <link href="/systheme/js/switchery/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />

        <!--bootstrap-fileinput-master-->
        <link href="/systheme/js/bootstrap-fileinput-master/css/fileinput.css" rel="stylesheet" type="text/css" />

        <!--iCheck-->
        <link href="/systheme/js/icheck/skins/all.css" rel="stylesheet">

        <!--common style-->
        <link href="/systheme/css/style.css" rel="stylesheet">
        <link href="/systheme/css/style-responsive.css" rel="stylesheet">

        <!--Data Table-->
        <link href="/systheme/js/data-table/css/jquery.dataTables.css" rel="stylesheet">
        <link href="/systheme/js/data-table/css/dataTables.tableTools.css" rel="stylesheet">
        <link href="/systheme/js/data-table/css/dataTables.colVis.min.css" rel="stylesheet">
        <link href="/systheme/js/data-table/css/dataTables.responsive.css" rel="stylesheet">
        <link href="/systheme/js/data-table/css/dataTables.scroller.css" rel="stylesheet">

  <!--      &lt;!&ndash;utils&ndash;&gt;
        <link href="/utlis/jQuery_bDialog/css/b.dialog.bootstrap3.css" rel="stylesheet">
        <link href="/utlis/jQuery_bDialog/css/b.dialog.css" rel="stylesheet">
        <link href="/utlis/jQuery_bDialog/css/dialog.css" rel="stylesheet">
        <link href="/utlis/jQuery_bDialog/css/htmleaf-demo.css" rel="stylesheet">


        <link href="/utlis/SelectMenu/selectmenu.css" rel="stylesheet">-->

        <link href="/utlis/selectpage/selectpage.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

        <script src="/systheme/js/html5shiv.js"></script>
        <script src="/systheme/js/respond.min.js"></script>

</div>
</body>
</html>