<!DOCTYPE html>
<html lang="UTF-8"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Admin Template">
    <meta name="keywords" content="admin dashboard, admin, flat, flat ui, ui kit, app, web app, responsive">
    <link rel="shortcut icon" href="/systheme/img/ico/favicon.png">
    <title>wisdominfo - Login</title>

    <!-- Base Styles -->
    <link href="/systheme/css/style.css"  rel="stylesheet"><!--href="/systheme/css/style.css"-->
    <link href="/systheme/css/style-responsive.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/systheme/js/html5shiv.min.js"></script>
    <script src="/systheme/js/respond.min.js"></script>
    <![endif]-->


</head>

  <body class="login-body">

      <div class="login-logo">
          <img src="/systheme/img/login_logo_1.png" alt=""/>
      </div>

      <h2 class="form-heading">登录</h2>
      <div class="container log-row">
          <form class="form-signin" action="login" method="post">
              <div class="login-wrap">
                  <input type="hidden" name="errmsg" id="errmsg"  class="form-control"  placeholder="errmsg">
                  <input type="text" name="signin_username" id="signin_username" class="form-control" placeholder="用户" autofocus>
                  <input type="password" name="signin_password" id="signin_password" class="form-control" placeholder="密码">
                  <button class="btn btn-lg btn-success btn-block" type="submit" <!--onclick="login()"-->>LOGIN</button>

                  <label class="checkbox-custom check-success">
                      <input type="checkbox" value="remember-me" id="checkbox1"> <label for="checkbox1">记住账号密码</label>
                      <a class="pull-right" data-toggle="modal" href="#forgotPass"> 忘记密码?</a>
                  </label>

                  <div class="registration">
                      还没有账号?
                      <a class="" href="registration.html">
                          立即注册
                      </a>
                  </div>

              </div>

              <!-- Modal -->
              <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="forgotPass" class="modal fade">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title">丢失了密码?</h4>
                          </div>
                          <div class="modal-body">
                              <p>通过邮箱找回密码.</p>
                              <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                          </div>
                          <div class="modal-footer">
                              <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                              <button class="btn btn-success" type="button">提交</button>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- modal -->

          </form>
      </div>

      <!--jquery-1.10.2.min-->
      <script src="/systheme/js/jquery-1.11.1.min.js"></script>
      <!--Bootstrap Js-->
      <script src="/systheme/js/bootstrap.min.js"></script>
      <!--<script src="/systheme/js/jrespond..min.js"></script>-->
      <script type="text/javascript">
          document.onkeydown = function(event) {
              var e = event || window.event
                  || arguments.callee.caller.arguments[0];
              if (e && e.keyCode == 27) { // 按 Esc
              }
              if (e && e.keyCode == 113) { // 按 F2
              }
              if (e && e.keyCode == 13) { // enter 键
                  $("#loginBtn").click();
              }
          };

          function login() {
              $.ajax(function(){

              });
              location.href="main";

          }
          var mes=getQueryVariable("errmsg");
          var errmsgs=decodeURI(mes)
          console.log(errmsgs);
          var input = document.getElementById("errmsg");
          input.value=errmsgs;
          if(errmsgs!="false"){
              alert(errmsgs)
              location.href="login";
          }
          function getQueryVariable(variable)
          {
              var query = window.location.search.substring(1);
              var vars = query.split("&");
              for (var i=0;i<vars.length;i++) {
                  var pair = vars[i].split("=");
                  if(pair[0] == variable){return pair[1];}
              }
              return(false);
          }

      </script>
  </body>
</html>
